
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #111;
    color: #fff;
}
header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}
header .logo {
    max-height: 150px;
}
nav a {
    margin: 0 15px;
    color: #0ff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
}
.gallery img, .poster {
    max-width: 100%;
    margin: 10px 0;
    border: 2px solid #444;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery img {
    width: calc(25% - 10px);
}
